* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F5EB;
}

nav {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    background-color: white;
}
ul {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1.5rem;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}

a:hover {
    color: #444;
}

.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accueil_presentation {
    text-align: center;
    margin-bottom: 2rem;
}

.accueil_card_title h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.accueil_card_recette {
    display: flex;
    gap: 2rem;
}

.accueil_card_recette_sub h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 0.3rem;
}

.accueil_card_recette_sub img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 3px;
}

.recettes .accueil_card_recette {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
}

.recettes .accueil_card_recette_sub {
    display: flex;
    padding: 1rem;
    border-radius: 3px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.recettes .accueil_card_recette_description {
    padding: 2rem 0 0 1rem;
}

.recettes .accueil_card_recette_description h2 {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}